.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.key {
  color: azure;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  background-color:rgb(53, 100, 240);
  margin: 2px;
  width: 20px;
  height: 20px;
  padding: 25px;
  border: 2px black solid;
  border-radius: 10px;
}
.piano{
margin: auto;
display: inline-flex;
transition: 0.3s;
}
.key:hover {
  opacity: 0.7;
}
.key:active, 
.pianoplaying {
  opacity: 0.2;
  display: inline-flex;
  transform: scale(1.1);
}
.container {
  background-color: aquamarine;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 546px;
  border-radius: 10px;
  border: #282c34 4px solid;
  
}